<!DOCTYPE html>
<html>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
  
  <script src="/app/app.js"></script>
  <script src="/app/forms.service.js"></script>
  <script src="/app/home.controller.js"></script>

<head>    
  <title>eForms</title>
</head>

<!--<body ng-app="eformsApp">
  <div>ceva
    <div ng-repeat="form in forms">
       {{name}}
    </div>
</div>
</body>-->

<div ng-app="eformsApp" ng-controller="HomeController">
    <ul>
        <li ng-repeat="form in forms">{{form.Name}}</li>
    </ul>
</div>

</html>







